.header {
  width: 100%;
  margin: auto;
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  height: 45px;
  margin: 10px 0;
  transition: .3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.header__right {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__avatar {
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
