.countries-container {
  max-width: 1280px;
  min-height: 75vh;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.country-card {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.country-card__photo {
  width: 90%;
}

.hidden {
  display: none;
}
