@import "~normalize.css";
@import "../fonts/weather/owfont-regular.min.css";
@import "../layouts/ImageSlider";
@import '../layouts/CountryPage';
@import '../layouts/VideoPlayer';
@import '../layouts/WeatherWidget';

* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  background-color: #c9d6df;
}

